input,
button,
select,
textarea {
	font-family: inherit;
}

.sg-bubble {
	display: inline-block;
}

label.sg-label__text {
	margin-top: 5px;
}

#content-old table a {
	color: #f04;
	cursor: pointer;
	font-weight: bold;
}

tr {
	&>th:nth-child(1) {
		width: 4% !important;
	}

	&>th:nth-child(2) {
		width: 3% !important;
	}

	&>th:nth-child(4) {
		width: 17% !important;
	}

	&>th:nth-child(5) {
		width: 11% !important;
	}

	&:nth-child(even) {
		background: #f2eee7;
	}

	&.moderateActions {
		background: transparent;
	}

	&.sec {
		&:nth-child(odd) {
			background: #2af;
		}

		&:nth-child(even) {
			background: #19d;
		}
	}

	&.removed {
		background: #ff8073 !important;
		color: white;

		a {
			color: #fff !important;
		}

		.sg-checkbox label {
			background-color: #ccc !important;
			border-color: #ccc !important;
		}
	}

	&.accepted {
		background: #6ed6a0 !important;
		color: #000;

		a {
			color: #000 !important;
		}
	}

	&.already_accepted {
		background: #ffbe32 !important;
		color: #000;

		a {
			color: #000 !important;
		}
	}

	&.sec,
	&.sec td>a {
		color: white !important;
	}
}

.moderateActions {
	td {
		padding: 20px 0 0px;
		font-size: 13px;
	}

	.moderate {
		text-align: right;
		position: relative;
		float: left;
		top: -5px;

		&>* {
			float: left;
		}

		button {
			margin-right: 5px;
			padding: 5px 11px;
		}

		&>div {
			&>label {
				padding-top: 5px;
				margin: 0 3px;
			}
		}
	}
}

#content-old {
	&>div {
		&:nth-child(2)>div:nth-child(34)>table {
			tr>*:nth-child(1) {
				text-align: center;
			}
		}

		&>div>table>tbody>tr {
			&>td {
				&>button {
					background-color: #5bb8ff;
					background-image: -webkit-linear-gradient(top, #5bb8ff, #0189b5);
					padding: 0px 6px;
					font-size: 11px;
					line-height: 12px;

					&:hover {
						background-position: 0 -20px;
					}

					&>b {
						transform: rotate(0deg);
						display: block;
						transition-duration: 0.9s;
						transition-property: all;
					}

					&>.rotate {
						transform: rotate(90deg);
					}
				}

				&>.taskContent {
					display: none;
					background-color: #fafafa;
					width: 98%;
					color: #000;
					padding: 0 0 10px;

					&>* {
						margin: 0 10px;
						padding: 5px 25px 10px;
						border-width: 1px;
						border-style: solid;
						border-color: #ccc;
					}

					&>.task {
						border-width: 1px;
						border-style: solid;
						border-color: #ccc;
					}

					&>fieldset {
						&>legend {
							width: initial;
							border: 0;
							padding: 0 15px;
							margin-left: -15px;
						}
					}

					&>.responseField {
						background-color: #fafafa;
					}

					.attachments {
						border-top: 1px solid #ccc;
						padding-top: 4px;
						margin-top: 15px;

						&:not(:empty) {
							display: inline-block;
							border: 1px solid #e4e4e4;
							border-radius: 3px;
							width: 100%;
						}

						&>.sg-actions-list>.sg-actions-list__hole {
							margin: 10px 0 10px 5.7px;
						}
					}
				}
			}

			&.not_selected {
				&>td {
					&>button {
						outline: 2px red dashed;
					}
				}
			}

			&.open {
				&>td {
					&>.taskContent {
						display: block;
					}
				}
			}
		}
	}
}

.rating-stars {
	display: -webkit-inline-box;

	.star {
		&:before {
			content: "\2605";
			display: block;
			width: 17px;
			height: 17px;
			font-size: 23px;
			float: left;
			cursor: pointer;
			padding: 0 1px;
		}
	}

	&:hover {
		.star {
			color: #ffbe32;
		}
	}

	&.gived {
		float: right;
		margin-right: 5px;

		.star {
			color: #f0f;
		}
	}
}

.rating-stars .star,
.rating-stars .star:hover~.star {
	color: #a1a6b1;
}

td>.approved {
	display: inline-block;
	padding: 0px 4px;
	background-color: #53cf92;
	border-radius: 50%;
	color: #fff;
	margin: 0 1px 0 4px;
	font-weight: bold;
}

.attachment-icon {
	height: 14px;
	width: 14px;
	position: relative;
	margin: 0 1px 0 3px;
	top: 3px;
	fill: #434e66;
}

.progress {
	border: none;
	text-align: center;
	border-radius: 290486px;
	display: block;
	height: 2em;
	overflow: hidden;
	padding: 0;
	width: 100%;

	&.is-white::-webkit-progress-value {
		background-color: #fff;
	}

	&.is-white::-moz-progress-bar {
		background-color: #fff;
	}

	&.is-white::-ms-fill {
		background-color: #fff;
	}

	&.is-black::-webkit-progress-value {
		background-color: #0a0a0a;
	}

	&.is-black::-moz-progress-bar {
		background-color: #0a0a0a;
	}

	&.is-black::-ms-fill {
		background-color: #0a0a0a;
	}

	&.is-light::-webkit-progress-value {
		background-color: #f5f5f5;
	}

	&.is-light::-moz-progress-bar {
		background-color: #f5f5f5;
	}

	&.is-light::-ms-fill {
		background-color: #f5f5f5;
	}

	&.is-dark::-webkit-progress-value {
		background-color: #363636;
	}

	&.is-dark::-moz-progress-bar {
		background-color: #363636;
	}

	&.is-dark::-ms-fill {
		background-color: #363636;
	}

	&.is-primary::-webkit-progress-value {
		background-color: #00d1b2;
	}

	&.is-primary::-moz-progress-bar {
		background-color: #00d1b2;
	}

	&.is-primary::-ms-fill {
		background-color: #00d1b2;
	}

	&.is-link::-webkit-progress-value {
		background-color: #3273dc;
	}

	&.is-link::-moz-progress-bar {
		background-color: #3273dc;
	}

	&.is-link::-ms-fill {
		background-color: #3273dc;
	}

	&.is-info::-webkit-progress-value {
		background-color: #209cee;
	}

	&.is-info::-moz-progress-bar {
		background-color: #209cee;
	}

	&.is-info::-ms-fill {
		background-color: #209cee;
	}

	&.is-success::-webkit-progress-value {
		background-color: #23d160;
	}

	&.is-success::-moz-progress-bar {
		background-color: #23d160;
	}

	&.is-success::-ms-fill {
		background-color: #23d160;
	}

	&.is-warning::-webkit-progress-value {
		background-color: #ffdd57;
	}

	&.is-warning::-moz-progress-bar {
		background-color: #ffdd57;
	}

	&.is-warning::-ms-fill {
		background-color: #ffdd57;
	}

	&.is-danger::-webkit-progress-value {
		background-color: #ff3860;
	}

	&.is-danger::-moz-progress-bar {
		background-color: #ff3860;
	}

	&.is-danger::-ms-fill {
		background-color: #ff3860;
	}

	&.is-small {
		height: .75rem;
	}

	&.is-medium {
		height: 1.25rem;
	}

	&.is-large {
		height: 1.5rem;
	}

	&::-webkit-progress-bar {
		background-color: #dbdbdb;
	}

	&::-webkit-progress-value {
		background-color: #4a4a4a;
	}

	&::-moz-progress-bar {
		background-color: #4a4a4a;
	}

	&::-ms-fill {
		background-color: #4a4a4a;
		border: none;
	}

	&:after {
		content: attr(data-label);
		top: -1.3em;
		position: relative;
		font-weight: bold;
		letter-spacing: 0px;
		font-size: 1rem;
		color: #bb2d2d;
	}
}
