@import "~perfect-scrollbar";

.ps__rail-x {
  bottom: 0px;
  top: auto !important;
}

$arrow-pos: -84px;

.js-pagination {
  button {
    margin: 0.5em 0.8em;
  }
}

.off {
  pointer-events: none;
}

#moderation-all {
  & > div.top > div.header > h1 > span {
    cursor: pointer;
  }

  .content {
    .moderation-item {
      width: 24%;
      height: 18em;
      overflow: hidden;
      line-height: initial;

      > .header {
        height: 26px;
      }

      > .content {
        height: 14rem;

        .confirm label {
          font-size: 1.5em;
        }

        & > .body {
          overflow: hidden;
          height: 11em;
        }

        & > .footer {
          padding: 2px 0;

          & > .row:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }

    &:not(.listView) .moderation-item {
      margin: 12px 3px 0;
    }

    &.listView .moderation-item {
      height: 89px;
      width: 100%;
      margin: 10px;

      .header {
        height: 26px;
      }

      .content {
        width: 100%;
        height: 61px;
        flex-direction: row;
        display: inline-flex;

        .body {
          width: 100%;
          display: flex;
          height: unset;
        }

        .footer {
          border: 0;
          width: 600px;
          display: flex;
          height: unset;
          position: unset;
          flex-direction: column;
          justify-content: center;
          border-left: solid 1px #dedede;

          .zadane-green {
            margin: 3px 20px 0 0;
          }
        }
      }
    }
  }

  .confirmed {
    & > .content {
      background-color: #aea !important;
    }
  }

  .removed {
    & > .content {
      background-color: #eaa !important;
    }
  }
}

.switch-button {
  position: absolute;
  top: 45%;

  &--right {
    right: $arrow-pos;
  }

  &--left {
    left: $arrow-pos;
  }
}

.moderation-toplayer {
  .removed {
    .actions,
    .action-box,
    .contents > .report {
      display: none !important;
    }
  }
}

body {
  min-width: unset;
}

.container_24 {
  width: 100%;
  padding: 0 35px;

  .sub-header [class*="span"] {
    width: unset;
  }

  #moderation-all .content:not(.listView) .moderation-item {
    width: 280px;
  }
}

#moderation-all .content .moderation-item .content .footer .row > .span {
  min-width: unset;
}
