$arrow-pos: -0.4em;

.js-pagination {
  button {
    margin: .5em 0 .5em 1.6em;
  }
}

button {
  label.sg-label__text {
    margin: 0 auto;
  }

  span.sg-button-primary__icon {
    margin: 0;
  }
}

.ext-action-buttons {
  &.is-deleting {
    pointer-events: none;
  }
}

#moderation-all {
  &>div.top>div.header>h1>span {
    cursor: pointer;
  }

  .content {
    .moderation-item {
      width: 24%;
      height: 18em;
      overflow: hidden;
      line-height: initial;

      >.header {
        height: 26px;
      }

      >.content {
        height: 14rem;

        .confirm label {
          font-size: 1.5em;
        }

        &>.body {
          overflow: hidden;
          height: 11em;
        }

        &>.footer {
          padding-bottom: 0;

          &>.row:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }

    &:not(.listView) .moderation-item {
      margin: 12px 3px 0;
    }

    &.listView .moderation-item {
      height: 89px;
      width: 98%;

      .header {
        height: 26px;
      }

      .content {
        height: 60px;

        .footer {
          width: 19rem;
          top: -1.85rem;
          right: 4em;
          border: 0;

          .zadane-green {
            margin: 3px 20px 0 0;
          }

          .ext-action-buttons {
            text-align: right;

            .sg-button-secondary {
              padding: 0 14px;
              height: 1.5rem;
              border-radius: 5px;
              font-size: .75rem;
            }
          }
        }
      }
    }
  }

  .confirmed {
    &>.content {
      background-color: #aea !important;
    }
  }

  .removed {
    &>.content {
      background-color: #eaa !important;
    }

    div.content>div.footer {
      min-height: 0 !important;
      padding: 0 !important;
      height: 0;
      border: 0;
    }
  }
}

.quickDeleteButtons {
  clear: both;
  margin-top: 1em;
}

#toplayer>div.contener-center.mod>div.contener.mod.moderation {

  &:before,
  &:after {
    cursor: pointer;
    position: absolute;
    top: 35%;
    font-size: 20em;
    color: #0075ff;
  }

  &:before {
    content: "‹";
    left: $arrow-pos;
  }

  &:after {
    content: "›";
    right: $arrow-pos;
  }
}
