$baseline: 1.5rem;

@function rhythm($baselines) {
	@return $baselines * $baseline;
}

.halloween {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 9999999999;
	top: 0;

	video {
		width: 100%;
		height: 110%;
	}
}

.brn-moderation-panel__list {
	overflow-x: auto !important;
}

.notification-brainlyToolsImg {
	position: relative;
	right: 9px;
	font-size: 10px;
}

.flash-messages-container .notification-brainlyToolsImg {
	top: -1px;
}

#flash-msg .notification-brainlyToolsImg {
	padding: 3px 0;
}

.js-hidden {
	display: none !important;
}

.js-disabled {
	pointer-events: none;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	color: #9fa6b5;
	font-weight: bold;
}

.userList:empty:before {
	content: attr(data-placeholder);
	font-weight: bold;
	color: #ff796b;
}

div.counter {
	border-radius: 50px;
	padding: 2px 6px;
	width: 9em;
	color: #000;

	&:after {
		content: attr(data-percent);
		font-weight: bold;
		position: relative;
		top: -13px;
		text-align: right;
		display: block;
		height: 0;
	}
}

.js-user-list {
	input[type="number"] {
		width: 7em;
	}
}

/* div.counter:not([style*="display: none"])>.userId~ {
	width: 200px
} */

.userId {
	input {
		&.userFound {
			border-color: #a7e6c7;
		}

		&.userNotFound {
			border-color: #ffc1bb;
		}
	}
}

.sg-disabled {
	cursor: default;
	pointer-events: none;
}

.userFinder {
	input[type="search"] {
		border: 2px solid #e1e8ed;
		padding: 0 12px;
		height: 2rem;
		border-radius: 7px;
	}

	.notFound {
		margin: 1rem 0;
	}

	.userList {
		margin: 0.5rem 0;

		a {
			text-align: left;
			padding: 0 !important;
		}

		.rankList {
			max-width: 12rem;
			margin-right: 3px;
		}
	}
}

.sg-text--peach {
	color: #ff796b;
}

textarea.inputNote {
	border: 3px solid transparent !important;
	border-bottom: 1px solid #dee2e5 !important;
	transition-duration: 0.6s;
	transition-property: all;
	color: #70747d;
	font-size: .9em;

	&:focus {
		height: 15em;
		overflow: auto;
		color: #000;
	}

	&:not(:focus) {
		padding: 0;
	}

	&.changed {
		border-color: #a7e6c6 !important;
	}
}

blockquote {
	background-color: #f5f5f5;
	border-left: 5px solid #dbdbdb;
	padding: 1.25em 1.5em;
	margin: 0;

	blockquote:before,
	blockquote:after {
		content: "\"";
		position: relative;
		font-size: 2em;
	}

	&:before {
		left: -1rem;
	}

	&:after {
		left: 1rem;
	}
}

.announcementOverlay {
	width: 25em;
	bottom: 1em;
	left: 15px;
	max-height: 340px;
	position: fixed;

	&.js-closed {
		width: 13em;

		.sg-toplayer__close>svg {
			transform: rotate(45deg);
		}

		.sg-content-box>*:not(:first-child) {
			display: none;
		}
	}

	.announcementTitle {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 19em;
	}

	div {
		&.sg-content-box div.sg-content-box {
			padding: 15px 0;
		}

		&.sg-toplayer__wrapper>.sg-content-box>div.sg-content-box__content {
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 230px;
			padding: 0 3px;
		}
	}

	article {
		padding: 0 5px;
	}

	.sg-content-box a {
		color: red;
		text-decoration: underline;
	}

	button.js-read {
		margin-right: 10px;
	}
}

@media(min-width: 768px) {
	.announcementOverlay {
		width: 448px;
	}
}


.progress-container {
	.progress {
		border: none;
		text-align: center;
		border-radius: 50px;
		display: block;
		height: 26px;
		overflow: hidden;
		padding: 0;
		width: 100%;

		&.is-white::-webkit-progress-value {
			background-color: #fff;
		}

		&.is-white::-moz-progress-bar {
			background-color: #fff;
		}

		&.is-white::-ms-fill {
			background-color: #fff;
		}

		&.is-black::-webkit-progress-value {
			background-color: #0a0a0a;
		}

		&.is-black::-moz-progress-bar {
			background-color: #0a0a0a;
		}

		&.is-black::-ms-fill {
			background-color: #0a0a0a;
		}

		&.is-light::-webkit-progress-value {
			background-color: #f5f5f5;
		}

		&.is-light::-moz-progress-bar {
			background-color: #f5f5f5;
		}

		&.is-light::-ms-fill {
			background-color: #f5f5f5;
		}

		&.is-dark::-webkit-progress-value {
			background-color: #363636;
		}

		&.is-dark::-moz-progress-bar {
			background-color: #363636;
		}

		&.is-dark::-ms-fill {
			background-color: #363636;
		}

		&.is-primary::-webkit-progress-value {
			background-color: #00d1b2;
		}

		&.is-primary::-moz-progress-bar {
			background-color: #00d1b2;
		}

		&.is-primary::-ms-fill {
			background-color: #00d1b2;
		}

		&.is-link::-webkit-progress-value {
			background-color: #3273dc;
		}

		&.is-link::-moz-progress-bar {
			background-color: #3273dc;
		}

		&.is-link::-ms-fill {
			background-color: #3273dc;
		}

		&.is-info::-webkit-progress-value {
			background-color: #209cee;
		}

		&.is-info::-moz-progress-bar {
			background-color: #209cee;
		}

		&.is-info::-ms-fill {
			background-color: #209cee;
		}

		&.is-success::-webkit-progress-value {
			background-color: #23d160;
		}

		&.is-success::-moz-progress-bar {
			background-color: #23d160;
		}

		&.is-success::-ms-fill {
			background-color: #23d160;
		}

		&.is-warning::-webkit-progress-value {
			background-color: #ffdd57;
		}

		&.is-warning::-moz-progress-bar {
			background-color: #ffdd57;
		}

		&.is-warning::-ms-fill {
			background-color: #ffdd57;
		}

		&.is-danger::-webkit-progress-value {
			background-color: #ff3860;
		}

		&.is-danger::-moz-progress-bar {
			background-color: #ff3860;
		}

		&.is-danger::-ms-fill {
			background-color: #ff3860;
		}

		&.is-small {
			height: .75rem;
		}

		&.is-medium {
			height: 1.25rem;
		}

		&.is-large {
			height: 1.5rem;
		}

		&::-webkit-progress-bar {
			background-color: #dbdbdb;
		}

		&::-webkit-progress-value {
			background-color: #4a4a4a;
		}

		&::-moz-progress-bar {
			background-color: #4a4a4a;
		}

		&::-ms-fill {
			background-color: #4a4a4a;
			border: none;
		}

		&:after {
			content: attr(data-label);
			top: -14px;
			position: relative;
			font-weight: bold;
			letter-spacing: 0px;
			font-size: 16px;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
		}
	}
}

body.mint {
	.progress-container .progress:after {
		top: -22px !important;
	}

	#main-panel .menu-element.current.profile .profile-content .top {
		width: 93%;

		>.left {
			width: 29%;
		}

		>.right {
			width: 67%;
		}
	}
}

.reportedCommentsPanel,
.reportedAnswersConfirmerPanel {
	width: 15.8em;
}

.mint {

	.reportedCommentsPanel,
	.reportedAnswersConfirmerPanel {
		width: 23em;
	}
}

.no-select {
	user-select: none;
}

.js-inputs {
	.toDelete {
		background: #fec83c;
	}

	.deleted {
		background: #9ce8c2;
	}

	.error {
		background: #ff7968;
	}
}

.sg-textarea {
	&--resizable {
		resize: auto;

		&-vertical {
			resize: vertical;
		}

		&-horizontal {
			resize: horizontal;
		}
	}
}

.sg-box,
.sg-button-secondary {
	&--margin-spaced {
		margin-right: rhythm(0.2);
		margin-bottom: rhythm(0.2);
	}

	&--light-border {
		border-color: #c3d1dd;
	}

	&--spaced-bottom {
		margin-bottom: rhythm(0.5);
	}

	&--spaced-bottom-small {
		margin-bottom: rhythm(1 / 3);
	}

	&--spaced-bottom-xsmall {
		margin-bottom: rhythm(1 / 4);
	}

	&--spaced-bottom-xxsmall {
		margin-bottom: rhythm(1 / 6);
	}

	&--spaced-bottom-large {
		margin-bottom: rhythm(1);
	}

	&--spaced-bottom-xlarge {
		margin-bottom: rhythm(1.5);
	}

	&--spaced-bottom-xxlarge {
		margin-bottom: rhythm(2);
	}
}

.sg-toplayer__close--spaced-small {
	padding: 0.2em;
}

.sg-card {
	&--no-bottom-radius {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	&--spaced-bottom {
		margin-bottom: rhythm(0.5);
	}

	&--spaced-bottom-small {
		margin-bottom: rhythm(1 / 3);
	}

	&--spaced-bottom-xsmall {
		margin-bottom: rhythm(1 / 4);
	}

	&--spaced-bottom-xxsmall {
		margin-bottom: rhythm(1 / 6);
	}

	&--spaced-bottom-large {
		margin-bottom: rhythm(1);
	}

	&--spaced-bottom-xlarge {
		margin-bottom: rhythm(1.5);
	}

	&--spaced-bottom-xxlarge {
		margin-bottom: rhythm(2);
	}

	&--spaced-top {
		margin-top: rhythm(0.5);
	}

	&--spaced-top-small {
		margin-top: rhythm(1 / 3);
	}

	&--spaced-top-xsmall {
		margin-top: rhythm(1 / 4);
	}

	&--spaced-top-xxsmall {
		margin-top: rhythm(1 / 6);
	}

	&--spaced-top-large {
		margin-top: rhythm(1);
	}

	&--spaced-top-xlarge {
		margin-top: rhythm(1.5);
	}

	&--spaced-top-xxlarge {
		margin-top: rhythm(2);
	}
}

%extend_1 {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.regex {
	b {
		background: #aad1f7;
		@extend %extend_1;

		&.g1 {
			background: #d2f854;
		}

		&.g2 {
			background: #9ec70c;
		}

		&.g3 {
			background: #ecc9f7;
		}

		&.g4 {
			background: #54b70b;
		}

		&.g5 {
			background: #b688cf;
		}

		&.err {
			background: #ff4300;
		}
	}

	i {
		background: #f9ca69;
		@extend %extend_1;

		b {
			background: #f7a700;
		}

		u {
			background: #efba4a;
		}
	}

	u {
		@extend %extend_1;
	}
}

.sg-box__image {
	object-fit: contain;
}
