.ext-action-buttons {
  &__container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.brn-feed-item-wrapper {
  &.deleted > .sg-box {
    background-color: #ffc8c0;
  }
}

.js-modal {
  .taskContent {
    span {
      display: none;
    }

    &.js-shrink {
      h1 {
        max-height: 156px;
        overflow: hidden;
      }

      span {
        display: block;
      }
    }
  }
}

.brn-feed-item {
  grid-template-areas:
    "avatar breadcrumbs moderator-info points"
    "content content content"
    "footer footer footer";

  &--with-attachment {
    grid-template-areas:
      "avatar breadcrumbs moderator-info points"
      "content content content content"
      "attachment footer footer footer";
  }

  &__moderator-info {
    grid-area: moderator-info;
    justify-self: end;
    align-self: flex-start;
  }

  @at-root {
    @media (min-width: 768px) {
      & {
        grid-template-areas:
          "avatar breadcrumbs moderator-info points"
          "attachment content content content"
          ". footer footer footer";

        &--with-attachment {
          grid-template-areas:
            "avatar breadcrumbs moderator-info points"
            "attachment content content content"
            ". footer footer footer";
        }
      }
    }
  }
}
