.ext_actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 5.4em;
  z-index: 2;

  /* padding: 0px 5px 7px; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 10px 0px #c5c5c5; */
  >.sg-actions-list__hole {
    width: 40px;

    &:nth-child(1) .sg-spinner-container {
      float: right;
    }

    button {
      min-width: 35px;
      padding: 0 9px;

      .sg-button__text {
        display: none;
      }

      &:not(:hover) .sg-button__icon {
        margin: 0;
      }

      &:hover {
        .sg-button__icon {
          display: none;
        }

        .sg-button__text {
          display: block;
        }
      }
    }
  }
}

.quickDelete div[data-test="feed-item"] {
  &.deleted .sg-content-box {

    &,
    >.sg-box {
      background-color: #ffc8c0;
    }
  }

  &:hover:not(.deleted){
    position: relative;

    .ext_actions {
      display: flex;
    }
  }
}

/* @media (max-width: 767px) {
	.ext_actions button {
		float: left;
	}
} */

.js-modal {
  .taskContent {

    span {
      display: none;
    }

    &.js-shrink {
      h1 {
        max-height: 156px;
        overflow: hidden;
      }

      span {
        display: block;
      }
    }
  }
}
