div.js-feed>div>div.sg-layout>div.sg-layout__container>div.sg-layout__content>div>div.sg-layout__box {
	display: none;
}

.ext_actions {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;

	/* padding: 0px 5px 7px; */
	/* border-radius: 5px; */
	/* box-shadow: 0px 0px 10px 0px #c5c5c5; */
	>.sg-actions-list__hole {
		width: 2em;

		button {
			padding: 0 9px;
			float: right;
			margin-top: 7px;

			label.sg-label__text {
				display: none;
				margin-right: 10px;
			}

			span.sg-button-primary__icon {
				margin: 0;
			}

			&:hover {
				label {
					display: block;
				}
			}
		}
	}
}

.quickDelete div[data-test="feed-item"] {
	&.deleted .sg-content-box {

		&,
		>.sg-box {
			background-color: #ffc8c0;
		}
	}

	&:hover:not(.deleted)>.sg-content-box {
		position: relative;

		.ext_actions {
			display: flex;
		}
	}
}

/* @media (max-width: 767px) {
	.ext_actions button {
		float: left;
	}
} */

.js-modal {
	.taskContent {

		span {
			display: none;
		}

		&.js-shrink {
			h1 {
				max-height: 156px;
				overflow: hidden;
			}

			span {
				display: block;
			}
		}
	}
}
