div#content-old {
  table.activities {
    tr {
      td {
        padding: unset;
      }

      .trimmed-file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 84px;
      }

      &:not(.taking-screenshot):not([data-status]) td:nth-child(2) > div {
        min-height: 100px;
      }

      &:last-child {
        border-bottom: 1px solid gray;
      }
    }
  }
}
