@import "_/zadane_dynamic.scss";
@import "_/bootstrap.scss";

/* * {
	box-sizing: unset !important;
} */
.container_24 {
  width: 990px;

  .grid_24 {
    width: 100%;
  }
}
.avatarContainer {
  box-sizing: content-box;
}

#html .mint {
  font-family: "ProximaNova", "Helvetica", "Arial", sans-serif;
}

body {
  font-size: 11px !important;
  line-height: 16px !important;
}

.sg-spinner-container__overlay {
  z-index: 1;
}

.sg-bubble {
  display: inline-block;
  font-size: 14px;
}

form.pretty fieldset legend {
  height: unset;
}

@keyframes trackingProgressDotPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 #ff7968;
    box-shadow: 0 0 0 0 #ff7968;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 8px rgba(255, 121, 104, 0);
    box-shadow: 0 0 0 8px rgba(255, 121, 104, 0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 104, 0);
    box-shadow: 0 0 0 0 rgba(255, 121, 104, 0);
  }
}

.brn-progress-tracking__icon-dot {
  width: 9.6px;
  height: 9.6px;
  border-radius: 50%;
  background-color: #ff7968;
  -webkit-animation: trackingProgressDotPulse 1.5s infinite;
  animation: trackingProgressDotPulse 1.5s infinite;
}

/* #moderate-functions-panel {
  .statistics {
    height: unset;
    min-height: 40px;

    .covering-text,
    .content-scroll {
      height: unset;
      min-height: unset;
    }

    .content-scroll {
      min-height: 156px;
    }
  }

  .panel {
    .covering-text,
    .content-scroll {
      height: unset;
      min-height: 55px;
    }
  }

  .panel,
  .statistics {
    .content-scroll {
      overflow-y: auto !important;
    }

    &:not(.show) .covering-text > .text {
      display: none;
    }
  }
} */

#moderate-functions-panel {
  .statistics {
    .content-scroll {
      min-height: 156px;
    }
  }

  .panel {
    .covering-text,
    .content-scroll {
      min-height: 200px;
    }

    .content-scroll {
      overflow-y: auto !important;
    }
  }
}

#main-panel .menu-right #panel-messages > a .count,
#main-panel .menu-right .menu-element#panel-notifications > a .count {
  width: unset;
  height: unset;
  min-width: 18px;
  font-size: 11px;
  padding: 0px 4px 0 3px;
}

#content-old {
  &,
  > .grid_16 {
    > h1.alignCenter.marginTop.marginBottom {
      margin-bottom: 30px;
    }
  }
}

#moderate-functions-panel .content-scroll a.sg-menu-list__link {
  padding: 0;
}

#content-old2 {
  padding: 20px;
  background-color: #fff;
  border-radius: 24px !important;

  a {
    font-weight: bold;
  }

  .task-content a {
    font-weight: 400;
  }

  > div,
  #main-left > div.personal_info > div.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  #main-left > div.personal_info > div.header {
    div.avatar {
      margin: unset;
    }
  }

  > div > div {
    max-width: 100%;
    float: unset;
  }

  #profile-mod-panel {
    input.onlylink {
      margin-left: 0;
    }
  }

  .rounded-button {
    color: white !important;
    background-color: #1898b4;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  margin: unset;
}

#html .mint #tabs-doj #main_menu:empty {
  display: none;
}

#moderate-functions-panel .content-scroll {
  a {
    padding-left: unset;
    color: #323c45;
  }

  li > a {
    padding-left: 5px;
    color: #8f8e8e;
  }
}
