/* * {
	box-sizing: unset !important;
} */
.container_24 {
	width: 990px;

	.grid_24 {
		width: 100%;
	}
}

body {
	font-size: 11px !important;
	line-height: 16px !important;
}

.sg-spinner-container__overlay {
	z-index: 1;
}

.sg-bubble {
	display: inline-block;
	font-size: 14px;
}
