/* * {
	box-sizing: unset !important;
} */
.container_24 {
	width: 990px;

	.grid_24 {
		width: 100%;
	}
}

body {
	font-size: 11px !important;
	line-height: 16px !important;
}

.sg-spinner-container__overlay {
	z-index: 1;
}

.sg-bubble {
	display: inline-block;
	font-size: 14px;
}

form.pretty fieldset legend {
	height: unset;
}

#moderate-functions-panel {
	.statistics {
		.content-scroll {
			min-height: 156px;
		}
	}

	.panel {

		.covering-text,
		.content-scroll {
			min-height: 200px;
		}

		.content-scroll {
			overflow-y: auto !important;
		}
	}
}

#main-panel .menu-right #panel-messages>a .count,
#main-panel .menu-right .menu-element#panel-notifications>a .count {
	width: unset;
	height: unset;
	min-width: 18px;
	font-size: 11px;
	padding: 0px 4px 0 3px;
}
