.ext-action-buttons {
  &__container {
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 2;
  }
}

.sg-content-box {
  &.deleted {
    background-color: #ffc8c0;
  }

  &.warning {
    background-color: #fedd8e;
  }
}
