.quickDelete {
  .sg-content-box {
    &.deleted {
      background-color: #ffc8c0;
    }

    &.warning {
      background-color: #fedd8e;
    }

    &:hover:not(.deleted) {
      position: relative;

      .ext_actions {
        display: flex;
      }
    }
  }
}

.ext_actions {
  display: none;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 5em;
  z-index: 2;

  >.sg-actions-list__hole {
    width: 2em;

    &:nth-child(1) button {
      float: right;
    }

    &:nth-child(2) button {
      float: left;
    }

    button {
      padding: 0 9px;
      margin-top: 7px;

      .sg-button__text {
        display: none;
        margin-right: 10px;
      }

      &:not(:hover) .sg-button__icon {
        margin: 0;
      }

      &:hover {
        .sg-button__text {
          display: block;
        }
      }
    }
  }
}
