.ext {
  &-qdb {
    &-cell {
      position: relative;
      align-items: center;
      display: flex;
    }

    &-container {
      position: absolute;
      right: 0;
      background-color: #fff;
    }
  }
}

tr {
  &.deleted {
    background-color: #ffe8e5;
  }
}
