.brn-question {
  width: 100%;
}

.brn-content-- {
  &confirmed {
    background: #9ce8c2;
  }
  &deleted {
    background: #ffc7bf;
  }
}

.ext_actions {
  z-index: 2;
  width: 35px;

  @at-root .brn-answer & {
    height: 0;
    float: right;
    position: relative;
  }

  button {
    min-width: 35px;

    .sg-button__text {
      display: none;
    }

    &:hover {
      min-width: unset;

      .sg-button__icon > .sg-text {
        display: none;
      }

      .sg-button__text {
        display: block;
      }
    }

    &:not(:hover) {
      padding: 0 9px;

      .sg-button__icon {
        margin: 0;
      }
    }
  }
}

.freelancerButton {
  position: fixed;
  z-index: 3;
  top: 80px;
  left: 10px;
}

@media (max-width: 767px) {
  .freelancerButton {
    top: 62px;
    width: 100%;
    left: unset;
    justify-content: center;

    > button {
      width: 98%;
    }
  }
}
