.brn-question--deleted .ext_actions {
  display: none;
}

.ext_actions {
  height: 0;
  width: 35px;
  float: right;
  position: relative;
  z-index: 2;

  button {
    min-width: 35px;

    .sg-button__text {
      display: none;
    }

    &:hover {
      .sg-button__icon {
        display: none;
      }

      .sg-button__text {
        display: block;
      }
    }

    &:not(:hover) {
      padding: 0 9px;

      .sg-button__icon {
        margin: 0;
      }
    }
  }
}
