img.userHat {
  position: absolute;
  transform: rotate(-25deg);
  pointer-events: none;
  z-index: 1;
  top: -7px;
  left: 20px;
  width: 50px;
}

.ranking {
  > h2:not(:last-child) {
    margin-right: 0.5em;
  }

  & > a,
  div.userFlag .sg-badge {
    margin-right: 1em;
  }
}

#profile {
  /* width: 100%; */
  display: block;

  /* #main-left {
    width: 65%;
  }

  #main-right {
    width: 33%;
    margin: 0;
  } */
}

#profile #main-left .personal_info .header {
  display: inline-block;
  overflow: unset;

  .pw {
    display: block;
    padding: 5px;
    float: right;
    font-size: 11px;

    .friends span {
      display: inline-block;
      max-width: 150px;
      word-wrap: break-word;
    }

    img {
      vertical-align: baseline;
    }

    a {
      color: #5bb8ff;
      font-size: 12px;
    }

    > div {
      line-height: 16px;
    }
  }
}

#main-left span.ranking {
  display: inline-grid;
}

#profile #main-left .personal_info .header .info .info_top {
  overflow: unset;
  display: inline-block;
  min-height: 6em;
}

.userTag {
  float: right;
  clear: both;
  height: 0;
  position: relative;
  top: 20px;

  .sg-bubble {
    z-index: 1;
    top: -13px;
    position: absolute;
    left: 100%;
    width: max-content;
  }
}

#profile-friends {
  display: inline-block;

  .avatar.all {
    float: left;
    width: 182px;
    max-width: initial !important;
    max-height: initial !important;
    text-align: left;
    // padding: 0;
    overflow: hidden;
    margin: 0 0 20px 0 !important;
    padding: 6px 4px 0;

    &.removed {
      background-color: #fcc;

      .sg-checkbox {
        display: none;
      }
    }

    &:nth-child(3n) {
      margin-right: 0 !important;
    }

    > div.bilgi {
      float: left;
      width: 100%;
      max-width: 141px;
      height: 37px;

      img {
        max-width: 65px;
        max-height: 65px;
      }

      > div {
        &.nick {
          font-size: 12px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 125px;
        }

        &.rank {
          position: relative;
          max-width: 100%;
          background-color: #fff;
          height: 21px;
          overflow: hidden;
          padding: 0 3px 4px;
          border: 1px solid transparent;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 3px;
          word-break: break-all;
          top: 4px;

          &:empty {
            display: none;
          }
        }
      }

      > .sg-checkbox {
        float: right;
        z-index: 2;
        left: -5px;
        bottom: 15px;

        > .sg-checkbox__ghost {
          display: none;
        }

        > .sg-checkbox__element:checked + .sg-checkbox__ghost {
          display: block;
        }

        > .sg-checkbox__element:not(:checked) + .sg-checkbox__ghost {
          border-color: #ff796b;
        }
      }
    }

    &:hover {
      overflow: unset;

      &:not(.removed) > div.bilgi > div.sg-checkbox > label.sg-checkbox__ghost {
        display: inline-block;
      }

      > div.bilgi {
        > div.rank {
          overflow: visible;
          height: initial;
          z-index: 1;

          &:not(:empty) {
            border: 1px solid;
          }
        }
      }
    }
  }
}

#profile #profile-mod-panel {
  .rankManager {
    .sg-label {
      margin-bottom: 1em;

      * {
        cursor: pointer;
      }
    }
  }

  div.evidences {
    display: inline-block;
    width: 97%;
    padding: 10px 0;
    margin-left: 3%;
    -webkit-transition: color 2s, outline-color 0.7s ease-out,
      background-color 0.7s ease-out;
    -moz-transition: color 2s, outline-color 0.7s ease-out,
      background-color 0.7s ease-out;
    -o-transition: color 2s, outline-color 0.7s ease-out,
      background-color 0.7s ease-out;
    transition: color 2s, outline-color 0.7s ease-out,
      background-color 0.7s ease-out;

    div {
      padding: 0;
    }

    > div.container {
      width: 100%;
      display: inline-block;
      margin-top: 5px;

      &.textarea {
        text-align: center;
      }

      > label {
        font-size: 12px;
        width: initial;
        font-weight: bold;

        > i {
          font-size: 0.9em;
          font-weight: normal;
        }
      }

      > textarea {
        /* width: 49%;
	height: 58px;
	position: absolute;
	bottom: 58px; */
        width: 87.5%;
        height: 45px;
        min-height: 45px;
        position: relative;
        resize: vertical;
      }
    }

    .evidence {
      img {
        object-fit: contain;
      }

      &:not(.previewing) {
        .preview {
          cursor: pointer;
        }

        .sg-actions-list {
          display: -webkit-box !important;
        }
      }

      &.previewing .preview {
        width: 100%;
        max-width: unset;
        height: 100%;
        max-height: unset;

        video {
          width: 264px;
        }
      }

      span.sg-text {
        width: 100%;
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
      }
    }

    .addFile {
      input {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        border: 0;
      }

      label {
        display: inline-flex;
        width: unset;
        padding: 0 18px;
        float: unset;
        line-height: inherit;
      }
    }

    ul {
      /* width: 49%;
	clear: both;
	overflow-x: auto;
	float: right;
	margin-top: 0; */
      width: 100%;

      > li {
        width: 60px;
        height: 55px;
        padding: 10px;
        outline: 1px solid #eee;
        text-align: center;
        float: left;
        margin: 0 4px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.kanit {
          > button {
            position: relative;
            margin: -15px 0 0 35px;
            float: right;
            top: 6px;
            right: -10px;
            z-index: 1;
          }

          > img,
          > video {
            height: 64%;
          }

          &.preview {
            width: 100%;
            height: 16em;

            > img,
            > video {
              height: 150px;
            }
          }

          > p {
            width: 100%;
            height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.attachmentGrabberContainer {
  z-index: 999;
  width: 270px;
  height: 216px;
  border-radius: 6px;
  position: absolute;
  background: #4fb3f65c;
  border: 4px dashed #4fb3f6;
  margin: 22px 0 0;

  * {
    pointer-events: none;
  }
}

.file-dragging {
  filter: blur(4px);
}

.ext-evidence-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
}

.ext-warnings-list {
  &__trimmed-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 230px;
  }
}
