$bodyWidth: 42rem;

html,
body {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	font-weight: 300;
}

.footer {
	padding: 2rem 1.5rem 1rem;
}

a {
	text-decoration: none;
}

.notification-list {
	position: fixed;
	top: 2rem;
	right: 1em;
	z-index: 2;
}

.hero {
	&>.hero-body {
		width: $bodyWidth;

		&>.container {
			&>.column {
				.title {
					color: unset;
				}

				&>.title {
					cursor: default;
				}

				&>.title:first-child {
					margin-bottom: 0.5rem;
				}

				.marketName {
					text-decoration: underline;

					&:first-letter {
						text-transform: capitalize;
					}
				}

				&>.box {
					margin-top: 2rem;
					box-shadow: -1px 1px 10px rgba(10, 10, 10, 0.1), 0px 0px 5px 0px rgba(10, 10, 10, 0.1);


					&>.avatar {
						margin: -5rem 0 3rem;

						img {
							padding: 5px;
							background: #fff;
							border-radius: 50%;
							-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
							box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
						}
					}

					&>section {
						&>.title {
							margin: 3em 0 1rem;
						}

						&>.column {
							padding: 0 .75rem;
						}

						.board-item {
							margin: 5px 0;
							will-change: transform;
						}

						.board-item-content {
							word-wrap: normal;
							position: relative;
							padding: 1.2em 0;
							background: #fff;
							border-radius: 4px;
							font-size: 17px;
							text-align: center;
							-webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
							box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
							margin: 0;

							&>span {
								margin-bottom: 1.5rem;
								display: inline-block;
							}

							&>.control {
								padding: 0 0.5rem;
							}
						}

						.message.is-info .message-body {
							color: #000;
						}

						.message-header {
							padding: 0;
							border-radius: 4px 0 0px 4px;

							p {
								width: 100%;
								padding: 1em 1.2em;
							}

							* {
								cursor: pointer;
							}
						}

						article .message-body {
							transition: all 0.5s ease;
							padding: 1.25em 1em;
						}

						article:not(.is-active) .message-body,
						article:not(.is-active) .message-header>.delete {
							display: none;
						}

						.select select {
							width: ($bodyWidth - 15);
							max-width: ($bodyWidth - 15);
						}

						.delete {
							pointer-events: auto;
						}

						&>.box {
							&>.title {
								cursor: pointer;
								cursor: pointer;
							}

							&:not(.is-active)>.title {
								margin-bottom: 0.3rem;
							}

							&>div {
								display: none;
							}

							&.is-active>div {
								display: block;
							}

							.dropdown-content .dropdown-item {
								white-space: unset;
								word-break: break-word;
							}
						}

						#announcements>article>div.message-body {
							padding: unset;

							&>article.media:not(.addNew) {
								padding: 2em 1em;
								margin: 0;

								&.is-editing>div.media-content,
								&.is-editing>div.media-right,
								&>div.media-content.editor,
								&>div.media-right.editing {
									display: none;
								}

								&.is-editing>div.media-content.editor,
								&.is-editing>div.media-right.editing {
									display: block;
								}

								&>div.media-content {

									&>div.content {

										&>.announcementTitle {
											max-width: ($bodyWidth - 25);
											display: inline-block;
											position: relative;
											top: 4px;
										}

										&>.announcementContent {
											width: ($bodyWidth - 17);
											height: 19px;
											margin-top: 1rem;
										}
									}

									&>nav.level,
									&>div.content>.announcementTitle,
									&>div.content>.announcementContent {
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
									}

									&>nav.level,
									&>div.content>.announcementContent {
										max-width: ($bodyWidth - 17);
									}
								}

								&>div.media-right {
									width: 21px;
									visibility: hidden;
								}

								&:hover {
									&>div.media-right {
										visibility: visible;
									}

									&>div.media-content {

										&>nav.level,
										&>div.content>.announcementContent {
											white-space: unset;
											height: unset;
											max-width: unset;
										}
									}
								}
							}
						}
					}
				}

				input {
					font-weight: 300;
				}

				p {
					font-weight: 500;

					.subtitle {
						padding-top: 1rem;
					}
				}

				.field {
					&>.field-body {
						margin-bottom: 1rem;

						.dropdown {

							&,
							.dropdown-trigger,
							.dropdown-menu {

								&,
								button {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

.hero.is-success {
	background: #F2F6FA;
}

.hero .nav,
.hero.is-success .nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}


.jodit_container,
.jodit_container .jodit_workplace {
	min-height: unset;
}

.jodit_inline .jodit_placeholder {
	padding: 0;
}

.addNew {


	&:last-child {
		border: 0;
	}
}
