.fright {
  float: right;

  .via,
  .mobile-ico {
    float: none;
  }

  .via,
  .via>* {
    vertical-align: top;
  }

  .endtime {
    vertical-align: top;
  }

  .mobile-ico {
    margin: 2px 2px 0;
  }

}

.fleft {
  float: left
}

input.onlylink {
  border: none;
  background-color: inherit;
  color: #FF8700;
  font-weight: bold;
  margin-left: -3px;
}

.red {
  color: #dc0000;
}

.pseudolink {
  border: none;
  color: #ff8700;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.huge {
  font-size: 1.5em;
}

div#footer ul li {
  display: block;
  float: left;
  font-family: "Arial";
  font-size: 12px;
  line-height: 20px;
  list-style-position: inside;
  list-style-type: none;

  &:last-child {
    border-right: none;
  }
}

#html .mint #profile #main-left .tasks-list .task .task-content {
  padding-top: 0;
  padding-bottom: 0;

  a {
    margin-left: 42px;
    font-size: 15px;
    display: inline-block;
  }

}

div#tabs-doj ul#main_menu li span span {
  background: url(/img/verB/tab_r.png) right no-repeat;
  padding: 0 8px;
}

form.pretty {
  div {
    clear: both;
    padding: .5em;
    vertical-align: text-top;

    &.submit {
      text-align: center;
      border: 0;
      clear: both;
      margin: auto;
      margin-top: 10px;
      display: block;
    }
  }

  label {
    display: block;
    float: left;
    line-height: 24px;
    padding-right: 10px;
    text-align: right;
    width: 150px;
  }

  input {
    border: 1px solid #ff8700;
    font-family: "Trebuchet MS", "Verdana", "Helvetica";
    padding: 2px;
  }

  input[type=submit] {
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 4px 10px 4px;
  }
}

#html .mint .mod-profile-panel .pretty input {
  border-color: #FF8073;
}

#html form.pretty div.submit input[type="submit"] {
  margin: auto;
  text-align: center;
}

div.text {
  font-size: 12px;
  line-height: normal;
}

.hidden {
  display: none;
}
