.ext-switch {
  $p: &;
  display: inline-block;
  vertical-align: middle;

  &__element {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + #{$p}__ghost {
      .active {
        left: 0;
      }

      .inactive {
        right: -50%;
      }
    }

    &:disabled + #{$p}__ghost {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__ghost {
    position: relative;
    display: block;
    cursor: pointer;
    width: 60px;
    height: 26px;
    margin: 0;
    background: #fff;
    border: 1px solid #ebf2f7;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.3s;

    .active {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      transition: 0.3s;
      background: #4fb3f6;

      &:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 11px;
        width: 6px;
        height: 12px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg) scale(1);
      }
    }

    .inactive {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: #ebf2f7;
      transition: 0.3s;

      &:after,
      &:before {
        content: "";
        position: absolute;
        left: 14px;
        top: 5px;
        width: 1px;
        height: 14px;
        background-color: #666;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
