button {
	label.sg-label__text {
		margin-bottom: 0;
	}

	span.sg-button-primary__icon {
		margin: 0;
	}
}

#moderation-all {
	&>div.top>div.header>h1>span {
		cursor: pointer;
	}

	.content {
		.moderation-item {

			height: 17.5em;
			overflow: hidden;

			&>.content {
				height: 14rem;

				&>.body {
					overflow: hidden;
					height: 11em;
				}

				&>.footer {
					padding-bottom: 0;

					&>.row:last-child {
						margin-bottom: 0 !important;
					}
				}
			}
		}

		&.listView .moderation-item {
			height: 89px;
			width: 98%;

			.header {
				height: 25px;
			}

			.content {
				height: 60px;

				.footer {
					width: 19rem;
					top: -1.85rem;
					right: 4em;
					border: 0;

					.zadane-green {
						margin: 3px 20px 0 0;
					}

					.ext_actions {
						text-align: right;

						.sg-button-secondary {
							padding: 0 14px;
							height: 1.5rem;
							border-radius: 5px;
							font-size: .75rem;
						}
					}
				}
			}
		}
	}

	&.removed {
		&>.content {
			background-color: #eaa;
		}

		div.content>div.footer {
			min-height: 0px;
			padding: 0;
			height: 0;
			border: 0;
		}
	}
}

.quickDeleteButtons {
	clear: both;
	margin-top: 1em;
}
