<div class="sg-actions-list sg-actions-list--no-wrap js-hidden">
	<div class="sg-actions-list__hole sg-text--to-center">
		<button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--dark sg-button-secondary--spaced-bottom-small regexp js-hidden">
			<span class="sg-text sg-text--white" title="${System.data.locale.core.reportedContentsConfirmer.regexp}">.*</span>
		</button>
		<button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
			<div class="sg-icon sg-icon--adaptive sg-icon--x14">
				<svg class="sg-icon__svg">
					<use xlink:href="#icon-check"></use>
				</svg>
			</div>
		</button>
	</div>
</div>
