<div class="sg-card__hole">
  <div class="sg-actions-list sg-actions-list--no-wrap">
    <div class="sg-actions-list__hole sg-actions-list__hole--grow sg-actions-list__hole--space-bellow">
      <div class="sg-select sg-select--full-width">
        <div class="sg-select__icon"></div>
        <select class="sg-select__element">
          <option selected value="" class="sg-box--gray-secondary-lightest sg-text--gray">${System.data.locale.core.massModerateReportedContents.selectAFilter}</option>
          <option value="CONTENT_TYPE" class="sg-box--peach sg-text--white">${System.data.locale.core.massModerateReportedContents.filters.byContentType}</option>
          <option value="REPORTER" class="sg-box--mint sg-text--white" title="${System.data.locale.core.massModerateReportedContents.filters.byReporter.title}">${System.data.locale.core.massModerateReportedContents.filters.byReporter.text}</option>
          <option value="REPORTEE" class="sg-box--blue-secondary sg-text--gray" title="${System.data.locale.core.massModerateReportedContents.filters.byReportee.title}">${System.data.locale.core.massModerateReportedContents.filters.byReportee.text}</option>
          <option value="DATE_RANGE" class="sg-box--lavender sg-text--white">${System.data.locale.core.massModerateReportedContents.filters.byDateRange}</option>
          <option value="REPORT_REASON" class="sg-box--dark sg-text--gray">${System.data.locale.core.massModerateReportedContents.filters.byReportReason}</option>
        </select>
      </div>
    </div>
  </div>
</div>
