<div class="sg-content-box__content sg-content-box__content--spaced-top sg-content-box__content--spaced-bottom">
  <div class="sg-horizontal-separator sg-horizontal-separator--short-spaced"></div>
  <div class="sg-content-box">
    <div class="sg-content-box__content" style="padding: 0.5em 1.5em;">
      <div class="sg-actions-list sg-actions-list--space-between">
        <div class="sg-actions-list__hole">
          <div class="sg-label sg-label--small sg-label--secondary">
            <div class="sg-label__icon js-hidden">
              <div class="sg-icon sg-icon--gray-secondary sg-icon--x14">
                <svg class="sg-icon__svg">
                  <use xlink:href="#icon-lightning"></use>
                </svg>
              </div>
            </div>
            <div class="sg-text sg-text--small sg-text--gray-secondary sg-text--bold sg-text--link js-hidden">!!!!!</div>
            <button class="sg-button-secondary sg-button-secondary--dark">
              <div class="sg-label sg-label--unstyled">
                <div class="sg-label__icon">
                  <div class="sg-icon sg-icon--x16">
                    <svg class="sg-icon__svg">
                      <use xlink:href="#icon-lightning"></use>
                    </svg>
                  </div>
                </div>
                ${matchedText}
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
