.js-hidden {
	display: none !important;
}

.userFinder {
	input[type="search"] {
		border: 2px solid #e1e8ed;
		padding: 0 12px;
		height: 1.5rem;
		border-radius: 7px;
	}

	.notFound {
		margin: 1rem 0;
	}

	.userList {
		margin: 0.5rem 0;

		a {
			text-align: left;
			padding: 0 !important;
		}

		.rankList {
			max-width: 12rem;
			margin-right: 3px;
		}
	}
}

.sg-text--peach {
	color: #ff796b;
}

textarea.inputNote {
	border: 3px solid transparent !important;
	border-bottom: 1px solid #dee2e5 !important;
	transition-duration: 0.6s;
	transition-property: all;
	color: #70747d;
	font-size: .9em;

	&:focus {
		height: 15em;
		overflow: auto;
		color: #000;
	}

	&:not(:focus) {
		padding: 0;
	}

	&.changed {
		border-color: #a7e6c6 !important;
	}
}

.announcementOverlay {
	width: 25em;
	bottom: 1em;
	left: 15px;
	max-height: 340px;
	position: fixed;

	&.js-closed {
		width: 13em;

		.sg-toplayer__close>svg {
			transform: rotate(45deg);
		}

		.sg-content-box>*:not(:first-child) {
			display: none;
		}
	}

	.announcementTitle {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 19em;
	}

	div {
		&.sg-content-box div.sg-content-box {
			padding: 15px 0;
		}

		&.sg-toplayer__wrapper>.sg-content-box>div.sg-content-box__content {
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 230px;
			padding: 0 3px;

			blockquote {
				background-color: #f5f5f5;
				border-left: 5px solid #dbdbdb;
				padding: 1.25em 1.5em;
				margin: 0;

				blockquote:before,
				blockquote:after {
					content: "\"";
					position: relative;
					font-size: 2em;
				}

				&:before {
					left: -1rem;
				}

				&:after {
					left: 1rem;
				}
			}
		}
	}

	article {
		padding: 0 5px;
	}

	.sg-content-box a {
		color: red;
		text-decoration: underline;
	}

	button.js-read {
		margin-right: 10px;
	}
}

@media(min-width: 768px) {
	.announcementOverlay {
		width: 448px;
	}
}

img.userFlag {
	position: absolute;
	transform: rotate(-25deg);
	pointer-events: none;
	z-index: 1;
	top: -7px;
	left: 20px;
	width: 50px;
}

.sg-toplayer .sg-content-box>div:empty {
	display: none;
}

.progress-container {
	.progress {
		border: none;
		text-align: center;
		border-radius: 290486px;
		display: block;
		height: 2em;
		overflow: hidden;
		padding: 0;
		width: 100%;

		&.is-white::-webkit-progress-value {
			background-color: #fff;
		}

		&.is-white::-moz-progress-bar {
			background-color: #fff;
		}

		&.is-white::-ms-fill {
			background-color: #fff;
		}

		&.is-black::-webkit-progress-value {
			background-color: #0a0a0a;
		}

		&.is-black::-moz-progress-bar {
			background-color: #0a0a0a;
		}

		&.is-black::-ms-fill {
			background-color: #0a0a0a;
		}

		&.is-light::-webkit-progress-value {
			background-color: #f5f5f5;
		}

		&.is-light::-moz-progress-bar {
			background-color: #f5f5f5;
		}

		&.is-light::-ms-fill {
			background-color: #f5f5f5;
		}

		&.is-dark::-webkit-progress-value {
			background-color: #363636;
		}

		&.is-dark::-moz-progress-bar {
			background-color: #363636;
		}

		&.is-dark::-ms-fill {
			background-color: #363636;
		}

		&.is-primary::-webkit-progress-value {
			background-color: #00d1b2;
		}

		&.is-primary::-moz-progress-bar {
			background-color: #00d1b2;
		}

		&.is-primary::-ms-fill {
			background-color: #00d1b2;
		}

		&.is-link::-webkit-progress-value {
			background-color: #3273dc;
		}

		&.is-link::-moz-progress-bar {
			background-color: #3273dc;
		}

		&.is-link::-ms-fill {
			background-color: #3273dc;
		}

		&.is-info::-webkit-progress-value {
			background-color: #209cee;
		}

		&.is-info::-moz-progress-bar {
			background-color: #209cee;
		}

		&.is-info::-ms-fill {
			background-color: #209cee;
		}

		&.is-success::-webkit-progress-value {
			background-color: #23d160;
		}

		&.is-success::-moz-progress-bar {
			background-color: #23d160;
		}

		&.is-success::-ms-fill {
			background-color: #23d160;
		}

		&.is-warning::-webkit-progress-value {
			background-color: #ffdd57;
		}

		&.is-warning::-moz-progress-bar {
			background-color: #ffdd57;
		}

		&.is-warning::-ms-fill {
			background-color: #ffdd57;
		}

		&.is-danger::-webkit-progress-value {
			background-color: #ff3860;
		}

		&.is-danger::-moz-progress-bar {
			background-color: #ff3860;
		}

		&.is-danger::-ms-fill {
			background-color: #ff3860;
		}

		&.is-small {
			height: .75rem;
		}

		&.is-medium {
			height: 1.25rem;
		}

		&.is-large {
			height: 1.5rem;
		}

		&::-webkit-progress-bar {
			background-color: #dbdbdb;
		}

		&::-webkit-progress-value {
			background-color: #4a4a4a;
		}

		&::-moz-progress-bar {
			background-color: #4a4a4a;
		}

		&::-ms-fill {
			background-color: #4a4a4a;
			border: none;
		}

		&:after {
			content: attr(data-label);
			top: -1.3em;
			position: relative;
			font-weight: bold;
			letter-spacing: 0px;
			font-size: 1rem;
			color: #bb2d2d;
		}
	}
}
