.js-hidden {
	display: none !important;
}

.userFinder {
	input[type="search"] {
		border: 2px solid #e1e8ed;
		padding: 0 12px;
		height: 1.5rem;
		border-radius: 7px;
	}

	.notFound {
		margin: 1rem 0;
	}

	.userList {
		margin: 0.5rem 0;

		a {
			text-align: center;
		}

		.rankList {
			max-width: 12rem;
			margin-right: 3px;
		}
	}
}

.sg-text--peach {
	color: #ff796b;
}

textarea.inputNote {
	border: 3px solid transparent !important;
	border-bottom: 1px solid #dee2e5 !important;
	transition-duration: 0.6s;
	transition-property: all;
	color: #70747d;
	font-size: .9em;

	&:focus {
		height: 15em;
		overflow: auto;
		color: #000;
	}

	&:not(:focus) {
		padding: 0;
	}

	&.changed {
		border-color: #a7e6c6 !important;
	}
}

.announcementOverlay {
	width: 25em;
	bottom: 1em;
	left: 15px;
	max-height: 340px;
	position: fixed;

	&.js-closed {
		width: 13em;

		.sg-toplayer__close>svg {
			transform: rotate(45deg);
		}

		.sg-content-box>*:not(:first-child) {
			display: none;
		}
	}

	.announcementTitle {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 19em;
	}

	div {
		&.sg-content-box div.sg-content-box {
			padding: 15px 0;
		}

		&.sg-toplayer__wrapper>.sg-content-box>div.sg-content-box__content {
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 230px;
			padding: 0 3px;
		}
	}

	article {
		padding: 0 5px;
	}

	.sg-content-box a {
		color: red;
		text-decoration: underline;
	}

	button.js-read {
		margin-right: 10px;
	}
}

@media(min-width: 768px) {
	.announcementOverlay {
		width: 448px;
	}
}

img.userFlag {
	position: absolute;
	transform: rotate(-25deg);
	pointer-events: none;
	z-index: 1;
	top: -7px;
	left: 20px;
	width: 50px;
}

.sg-toplayer .sg-content-box>div:empty {
	display: none;
}
