.sg-box {
  &--transparent {
    background-color: transparent;
  }

  &--full-height {
    height: 100%;
  }

  &--border-thin {
    border-width: 1px;
  }

  &--lavender-secondary {
    background-color: #bdc7fb;
  }

  &--megaman {
    background-color: #4bcffa;
  }

  &--surf-crest {
    background-color: #cad3c8;
  }

  &--mustard-secondary {
    background-color: #fedd8e;
  }

  &--strips {
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ececec 10px,
      #eee 20px
    );
  }
}
