$colorMap: (
  "": "",
  mint: (
    #60d399,
    #40bd7e,
  ),
  peach: (
    #ff7968,
    #ff604b,
  ),
  mustard: (
    #fbbe2e,
    #eda600,
  ),
);

@each $colorName, $colorList in $colorMap {
  @if $colorName != "" {
    $normal: nth($colorList, 1);
    $dark: nth($colorList, 2);

    .sg-button {
      @if $colorName != "mint" {
        &--solid {
          &-#{$colorName} {
            background-color: $normal;

            &:hover,
            &:focus,
            &:active {
              background-color: $dark;
            }
          }
        }
      }
    }
  }
}

.sg-button {
  $p: &;
  &--xs {
    height: 28px;
    font-size: 12px;
    line-height: 10px;

    &#{$p}--icon-only {
      width: 28px;
    }

    &:not(#{$p}--icon-only) {
      padding: 0 16px;
    }
  }

  &--xl {
    width: 72px;
    height: 72px;
  }

  &--disabled,
  &--no-click {
    pointer-events: none;
  }

  &--active {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

  &--outline {
    &-toggle {
      &-mint {
        border-color: #60d399;
        fill: #60d399;
      }
    }

    & &-white {
      background-color: #fff;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]),
      &:active:focus:not([disabled]) {
        background-color: #ebf2f7;
      }
    }
  }

  &--solid-light {
    &-toggle {
      &-mint {
        background-color: #e3f7ed;
        fill: #60d399;

        &:hover:not([disabled]),
        &:focus:not([disabled]),
        &:active:not([disabled]),
        &:active:focus:not([disabled]) {
          background-color: #d7f4e6;
        }
      }
    }
  }

  &--transparent {
    &-mint {
      color: #60d399;
      background-color: #fff0;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]),
      &:active:focus:not([disabled]) {
        background-color: #60d3991f;
      }
    }

    &-blue {
      color: #4fb3f6;
      background-color: #fff0;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]),
      &:active:focus:not([disabled]) {
        background-color: #4fb3f61f;
      }
    }
  }

  &--icon-only {
    border-radius: 50%;

    &:not(#{$p}--s):not(#{$p}--xs) {
      min-width: 40px; // Reported contents > Options button : small screen-size
    }
  }

  &__icon {
    &--xsmall {
      margin-right: 6px;
    }

    &--xlarge {
      margin-right: 12px;
    }
  }

  @at-root html:not(.win) &__text {
    position: relative;
    top: 1px;
  }

  @at-root html.win &__text {
    top: unset;
  }

  &--spaced {
    margin: rhythm(0.2);

    @each $cornerName, $corner in $cornerSpaces {
      @if $cornerName != "" {
        &-#{$cornerName} {
          @each $sizeName, $size in $sizeList {
            $size: rhythm($size);

            @if $sizeName== "" {
              margin-#{$cornerName}: $size;
            } @else {
              &-#{$sizeName} {
                margin-#{$cornerName}: $size;
              }
            }
          }
        }
      }
    }
  }
}
