@import "./variables.scss";

$colorMap: ("":"",
  mint: (#60d399, #40bd7e),
  peach:(#ff7968, #ff604b),
  mustard:(#fbbe2e, #eda600),
);

@each $colorName,
$colorList in $colorMap {
  @if $colorName !="" {
    $normal: nth($colorList, 1);
    $dark: nth($colorList, 2);

    .sg-button {
      &-secondary {
        &--#{$colorName} {
          background-color: $normal;

          &:hover,
          &:focus,
          &:active {
            border-color: $dark !important;
            background-color: $dark !important;
          }

          &-inverse {
            color: $normal;
            background: none;
            border: 2px solid;
            border-color: $normal;

            &:hover,
            &:focus,
            &:active {
              color: $dark;
              border-color: $dark !important;
              background-color: rgba(0, 0, 0, 0.12) !important;
            }
          }
        }
      }
    }
  }
}

.sg-button {
  &--xsmall {
    height: 28px;
    padding: 0 16px;
    line-height: 10px;
    font-size: 12px;
  }

  &--disabled {
    pointer-events: none;
  }

  &--active {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  }

  &--link-button {

    &-mint {
      color: #60d399;
      background-color: #ffffff00;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]),
      &:active:focus:not([disabled]) {
        background-color: #60d3991f;
      }
    }

    &-blue {
      color: #4fb3f6;
      background-color: #ffffff00;

      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]),
      &:active:focus:not([disabled]) {
        background-color: #4fb3f61f;
      }
    }
  }

  & &__icon {
    &:only-child {
      margin-right: 0;
    }

    &--xsmall {
      margin-right: 6px;
    }
  }

  &--spaced {
    margin: rhythm(0.2);

    @each $cornerName,
    $corner in $cornerSpaces {
      @if $cornerName !="" {
        &-#{$cornerName} {

          @each $sizeName,
          $size in $sizeList {
            $size: rhythm($size);

            @if $sizeName=="" {
              margin-#{$cornerName}: $size;
            }

            @else {
              &-#{$sizeName} {
                margin-#{$cornerName}: $size;
              }
            }
          }
        }
      }
    }
  }
}
