.sg-icon {
  &--pulse {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(95, 211, 153, .5);
    animation: pulse 1.5s infinite;
  }

  &:hover {
    animation: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 2em rgba(95, 211, 153, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(95, 211, 153, 0);
  }
}
