.sg-label {
  cursor: inherit;
  user-select: none;

  @at-root html.win &__text {
    top: unset;
  }

  &__icon {
    align-items: center;
    display: flex;

    &:only-child {
      margin: 0;
    }
  }
}
