.sg-text {
  @at-root html:not(.win) &--fix-position {
    position: relative;
    top: 1px;
  }

  &--extra-bold {
    font-weight: 900;
  }

  &--background {
    &-mustard {
      background: #fec83c;
    }

    &-mint {
      background: #9ce8c2;
    }

    &-peach {
      background: #ff7968;
    }

    &-light-gray {
      background: #c3d1dd;
    }

    &-blue-dark {
      background: #1d9ff5;
    }

    &-blue-light {
      background: #d9f0ff;
    }
  }

  &--blockquote {
    &:before,
    &:after {
      color: #687b8c;
    }

    &:before {
      padding-right: 3px;
      content: "“";
    }

    &:after {
      padding-left: 3px;
      content: "”";
    }
  }
  // https://codepen.io/vkjgr/pen/gbPaVx
  &--loading {
    &:after {
      content: " .";
      animation: dots 1s steps(5, end) infinite;
    }
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
