.sg-toplayer {
  &--90prc {
    width: 90%;
    max-width: 90%;
  }

  &--fit-content {
    width: fit-content;
    max-width: 95vw;
  }

  &--max-width {
    &-small {
      max-width: 410px;
    }

    &-medium {
      max-width: 600px;
    }

    &-large {
      max-width: 700px;
    }
  }
}
